.navbar-dark .navbar-nav .nav-link:hover,.navbar-brand:hover,.navbar-dark .navbar-brand:hover {
    color: #AAAAAA !important;
}

@font-face {
    font-family: 'snell rounedhand';
    src: url(fonts/snellroundhand-blackScript.otf);
}

.navbar-dark .navbar-nav .nav-link,.navbar-brand{
    
    font-family: snell, sans-serif !important;
    color: #111111 !important;
     
}

.carousel-caption{
    color: #ffc107 !important;
    
}

nav, footer{
    background-color: #DDDDDD;
}

#caption {
    margin-left: -100px !important;
}
span.navbar-toggler-icon{
    color: black !important;
}
.navbar-toggler collapsed {
    color: black !important;
}